In [1]:
import pandas as pd

# links

https://mapr.com/ebooks/spark/08-recommendation-engine-spark.html
https://mikulskibartosz.name/how-to-split-a-list-inside-a-dataframe-cell-into-rows-in-pandas-9849d8ff2401
https://gist.github.com/elo7-developer/c7e05b3d6146aa81744f7ee46d93c343

In [38]:
movies = pd.read_csv("ml-latest-small/movies.csv")
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
tags = pd.read_csv("ml-20m/tags.csv")
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [20]:
tags['tag'].value_counts()

sci-fi                             3384
based on a book                    3281
atmospheric                        2917
comedy                             2779
action                             2657
surreal                            2427
BD-R                               2334
twist ending                       2323
funny                              2072
dystopia                           1991
stylized                           1941
quirky                             1906
dark comedy                        1899
classic                            1769
psychology                         1754
fantasy                            1703
time travel                        1549
romance                            1534
visually appealing                 1509
disturbing                         1487
aliens                             1428
thought-provoking                  1422
social commentary                  1417
Nudity (Topless)                   1400
violence                           1336
drugs                              1312
Criterion                          1286
true story                         1276
nudity (topless)                   1245
adventure                          1243
                                   ...
brilliant photography                 1
fictional african country             1
superbly written                      1
Pei-pei Cheng                         1
Ronnie del Carmen                     1
less FX                               1
screenwriter:Gary Ross                1
boy savior                            1
primitive people                      1
clockwork orange cinematography       1
butcher                               1
Peter Madsen                          1
the original was bad enough           1
the plot is all over the place        1
Mongolia                              1
Steve Conrad                          1
michael ruppert                       1
Francis Glebas                        1
Iwerks 3-D                            1
screenwriter:David Hare               1
Joe Folau                             1
graduate student                      1
+++++++++++++++                       1
boy genius                            1
Lawrence Olivier                      1
Threatening Villain                   1
war profiteering                      1
Frank Beyer                           1
elmo                                  1
Valehtelija Valehtelija               1
Name: tag, Length: 38643, dtype: int64

In [19]:
ratings = pd.read_csv("ml-20m/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [6]:
newmovies = movies.copy()
newmovies.genres = newmovies.genres.apply(lambda x: x.split('|'))
newmovies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [7]:
lol = newmovies.genres.apply(pd.Series) \
    .merge(newmovies, right_index = True, left_index = True) \
    .drop(["genres"], axis = 1) \
    .melt(id_vars = ['movieId', 'title'], value_name = "genre") \
    .drop("variable", axis = 1) \
    .dropna()

In [24]:
lol['ngenre'] = 1
lol[lol['movieId']==1]

       movieId             title      genre  ngenre
0            1  Toy Story (1995)  Adventure       1
9742         1  Toy Story (1995)  Animation       1
19484        1  Toy Story (1995)   Children       1
29226        1  Toy Story (1995)     Comedy       1
38968        1  Toy Story (1995)    Fantasy       1

In [37]:
wtf = lol.pivot(index='movieId', columns='genre', values='ngenre').fillna(0)
mat = wtf.as_matrix()
wtf

genre,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
23,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188189,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
188301,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
188675,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188751,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
188797,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188833,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189043,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189333,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
189381,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
189547,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
189713,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
190207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
190209,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190213,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190219,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191005,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
193565,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
193567,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193571,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193573,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193581,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer
vec = TfidfTransformer()
model = vec.fit_transform(mat).toarray()
inp = vec.transform(wtf.loc[1].as_matrix()).toarray()

In [34]:
from scipy.spatial.distance import cdist
out = cdist(inp, model, 'cosine').argsort()
print(movies.loc[out[0][1:]])

      movieId                                              title  \
6194    45074                                   Wild, The (2006)
2355     3114                                 Toy Story 2 (1999)
8219   103755                                       Turbo (2013)
9430   166461                                       Moana (2016)
6948    65577                     Tale of Despereaux, The (2008)
1706     2294                                        Antz (1998)
8927   136016                           The Good Dinosaur (2015)
6486    53121                             Shrek the Third (2007)
3568     4886                              Monsters, Inc. (2001)
7760    91355  Asterix and the Vikings (Astrix et les Viking...
3000     4016                   Emperor's New Groove, The (2000)
2809     3754     Adventures of Rocky and Bullwinkle, The (2000)
8900   134853                                  Inside Out (2015)
5624    27186  Kirikou and the Sorceress (Kirikou et la sorci...
5087     8015                      Phantom Tollbooth, The (1970)
2539     3400              We're Back! A Dinosaur's Story (1993)
5686    27731         Cat Returns, The (Neko no ongaeshi) (2002)
1505     2033                         Black Cauldron, The (1985)
4424     6536            Sinbad: Legend of the Seven Seas (2003)
9544   172793        Vovka in the Kingdom of Far Far Away (1965)
4014     5672  Pokemon 4 Ever (a.k.a. Pokmon 4: The Movie) (...
6944    65261                 Ponyo (Gake no ue no Ponyo) (2008)
3336     4519                       Land Before Time, The (1988)
9369   162578                    Kubo and the Two Strings (2016)
3230     4366                   Atlantis: The Lost Empire (2001)
1577     2116                      Lord of the Rings, The (1978)
8357   108932                              The Lego Movie (2014)
5490    26340  Twelve Tasks of Asterix, The (Les douze travau...
6448    51939         TMNT (Teenage Mutant Ninja Turtles) (2007)
2106     2800      Little Nemo: Adventures in Slumberland (1992)
...       ...                                                ...
1529     2064                                  Roger & Me (1989)
1531     2066                             Out of the Past (1947)
1532     2067                              Doctor Zhivago (1965)
5857    32649  Special Day, A (Giornata particolare, Una) (1977)
5856    32632                       Electra Glide in Blue (1973)
5854    32600                                        Eros (2004)
1534     2069                      Trip to Bountiful, The (1985)
5873    33085                      Amityville Horror, The (2005)
1485     2010                                  Metropolis (1927)
5875    33124  Before the Fall (NaPolA - Elite fr den Fhrer...
1501     2026                         Disturbing Behavior (1998)
1497     2022              Last Temptation of Christ, The (1988)
1498     2023                    Godfather: Part III, The (1990)
1499     2024                                Rapture, The (1991)
2312     3064                   Poison Ivy: New Seduction (1997)
5895    33437                   Unleashed (Danny the Dog) (2005)
5894    33435                    Los Angeles Plays Itself (2003)
5893    33421                                  Dear Wendy (2005)
5891    33310  Common Thread, A (a.k.a. Sequins) (Brodeuses) ...
1500     2025                                      Lolita (1997)
5889    33237                               San Francisco (1936)
5888    33201       Between Your Legs (Entre las piernas) (1999)
5886    33171                             Mysterious Skin (2004)
5885    33166                                       Crash (2004)
5884    33164                                House of Wax (2005)
5883    33162                           Kingdom of Heaven (2005)
5882    33158                     xXx: State of the Union (2005)
5881    33154        Enron: The Smartest Guys in the Room (2005)
5877    33132                            State Property 2 (2005)
4870     7299  Monsieur Ibrahim (Monsieur Ibrahim et les fleu...

                                                 genres
6194        Adventure|Animation|Children|Comedy|Fantasy
2355        Adventure|Animation|Children|Comedy|Fantasy
8219        Adventure|Animation|Children|Comedy|Fantasy
9430        Adventure|Animation|Children|Comedy|Fantasy
6948        Adventure|Animation|Children|Comedy|Fantasy
1706        Adventure|Animation|Children|Comedy|Fantasy
8927        Adventure|Animation|Children|Comedy|Fantasy
6486        Adventure|Animation|Children|Comedy|Fantasy
3568        Adventure|Animation|Children|Comedy|Fantasy
7760        Adventure|Animation|Children|Comedy|Fantasy
3000        Adventure|Animation|Children|Comedy|Fantasy
2809        Adventure|Animation|Children|Comedy|Fantasy
8900  Adventure|Animation|Children|Comedy|Drama|Fantasy
5624               Adventure|Animation|Children|Fantasy
5087               Adventure|Animation|Children|Fantasy
2539               Adventure|Animation|Children|Fantasy
5686               Adventure|Animation|Children|Fantasy
1505               Adventure|Animation|Children|Fantasy
4424               Adventure|Animation|Children|Fantasy
9544               Adventure|Animation|Children|Fantasy
4014               Adventure|Animation|Children|Fantasy
6944               Adventure|Animation|Children|Fantasy
3336               Adventure|Animation|Children|Fantasy
9369               Adventure|Animation|Children|Fantasy
3230               Adventure|Animation|Children|Fantasy
1577               Adventure|Animation|Children|Fantasy
8357  Action|Adventure|Animation|Children|Comedy|Fan...
5490  Action|Adventure|Animation|Children|Comedy|Fan...
6448  Action|Adventure|Animation|Children|Comedy|Fan...
2106         Adventure|Animation|Children|Drama|Fantasy
...                                                 ...
1529                                        Documentary
1531                                          Film-Noir
1532                                  Drama|Romance|War
5857                                          Drama|War
5856                                       Action|Crime
5854                                              Drama
1534                                              Drama
5873                                    Horror|Thriller
1485                                       Drama|Sci-Fi
5875                                          Drama|War
1501                                    Horror|Thriller
1497                                              Drama
1498                       Crime|Drama|Mystery|Thriller
1499                                      Drama|Mystery
2312                                     Drama|Thriller
5895                        Action|Crime|Drama|Thriller
5894                                        Documentary
5893                                              Drama
5891                                      Drama|Romance
1500                                      Drama|Romance
5889                              Drama|Musical|Romance
5888                     Drama|Mystery|Romance|Thriller
5886                                      Drama|Mystery
5885                                        Crime|Drama
5884                                    Horror|Thriller
5883                           Action|Drama|Romance|War
5882                              Action|Crime|Thriller
5881                                        Documentary
5877                                 Action|Crime|Drama
4870                                              Drama

[9741 rows x 3 columns]

In [33]:
movies.loc[6194]

movieId                                          45074
title                                 Wild, The (2006)
genres     Adventure|Animation|Children|Comedy|Fantasy
Name: 6194, dtype: object